body {
  background-image: url('https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1370&q=80');
}

#board td {
  width: 70px;
  height: 70px;
  border: solid 2px whitesmoke;
  border-radius: 5%; 
  margin-left: auto;
  margin-right: auto;
}

.center {
    margin-left:auto; 
    margin-right:auto;
}

header {
  text-align: center;
  font-family: 'Audiowide', cursive;
  color: white;
  text-shadow: 2px 3px 5px #f70a94;
  font-size: 1.5rem;
}
/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  margin: 5px;
  width: 85%;
  height: 85%;
  border-radius: 50%;
  border: 1px black solid;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */
.p1 {
  background: rgb(63,156,251);
  background: radial-gradient(circle, rgba(63,156,251,1) 0%, rgba(252,70,185,1) 100%);
}

.p2 {
  background: rgb(251,77,63);
  background: radial-gradient(circle, rgba(251,77,63,1) 0%, rgba(105,252,70,1) 100%);
}

.fall {
  animation-name: fall-animation;
  animation-duration: 850ms;
}

@keyframes fall-animation {
  from {
      transform: translateY(-500px);
  }
  to {
      transform: translateY(0);
  }
}
/* column-top is table row of clickable areas for each column */
#column-top td {
  border: dashed 1px lightgray;
  background: rgba(0, 0, 0, 0.76); 
}

#column-top td:hover {
  background-color: #141414;
}
